* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

header {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 200px;
}

.logo img {
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.right {
    display: flex;
    gap: 100px;
    align-items: center;
}

.btns {
    display: flex;
    gap: 20px;
    align-items: center;
}

.btns button {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
}

#order {
    background-color: red;
}

.red {
    color: red !important;
    background-color: white;
    /* width: 100px; */
    padding: 10px;
    border-radius: 50%;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
}

.welcome {
    background-color: black;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.content {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.innerContent {
    display: flex;
    color: white;
    text-align: center;
    flex-direction: column;
    gap: 8px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box img {
    background-color: white;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.franchise {
    background-color: black;
    padding: 40px 60px;
}

.franchise-up {
    display: flex;
    justify-content: center;
}

.franchise-content {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.rightContent{
    color: white;
}

.Islamabad{
    padding: 60px 70px;
    display: flex;
    justify-content: center;
    gap: 60px;
}